.git
.gitignore
.idea
.vscode
__pycache__/
*.py[codz]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.coverage*

.env
.envrc

.venv/
venv/
env/
ENV/

saves/
docs/_build/
dist/
build/
*.egg-info/
